<% provide(:title, @book.name) %>
<div class="book-details">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <section class="book-cover">
        <div class="rectangle">
          <h2>Picture coming soon...</h2>
        </div>
      </section>
      <% if current_user %>
        <% if current_user.librarian? %>
          <section class="librarian-control">
            <%= link_to "Edit this book", edit_book_path %>
          </section>
        <% else %>
          <div id="borrow_form">
            <% if borrowing = Borrowing.find_by(user_id: current_user.id, book_id: @book.id) %>
              <% if !borrowing.verified? %>
                <%= render 'cancel' %>
              <% else %>
                <%= render 'extend' %>
              <% end %>
            <% else %>
              <% if current_book.availability > 0 %>
                <%= render 'borrow' %>
              <% else %>
                No book available
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8 col-sm-8">
      <section class="book-info">
        <h3 class="book-detail-title"><%= @book.name %></h3>
        <h4><small>by</small> <%= @book.author %></h4>
      </section>
      <section class="col-md-6 col-sm-6">
        <span class="label label-primary">Genre</span> : <%= @book.genre %><br>
        <span class="label label-primary">Publisher</span> : <%= @book.publisher %><br>
        <span class="label label-primary">Publication Date</span> : <%= @book.publication_date.strftime("%b %e %Y") %>
      </section>
      <section class="col-md-6 col-sm-6">
        <span class="label label-primary">Number of pages</span> : <%= @book.pages %><br>
        <span class="label label-primary">Available</span> : <%= @book.availability %>
      </section>
      <section class="book-introduction">
        <p><%= @book.description.to_s %></p>
      </section>
    </div>
  </div>
</div>
<% if current_user && current_user.role == "librarian" %>
  <div class="col-sm-8 col-sm-offset-4 borrowing-status">
    <% if @borrowings.empty? %>
      <span class="label label-warning">No book borrowed</span>
    <% else %>
      <span class="label label-success">Borrower</span>
      <table class="table table-striped" id="books-table">
        <tr id="table-header">
          <th><strong>User</strong></th>
          <th><strong>Due date</strong></th>
        </tr>
        <% @borrowings.each do |i| %>
          <th><%= User.find_by(id: i.user_id).name %></th>
          <th><%= i.due_date %></th>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>